.game-card{
    max-width: 20rem;
    /* height: 17.5rem; */
    background-color: rgba(255, 255, 255, 0.01) !important;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 1.5rem;
    cursor: pointer;
}

.round-corner{
    border-radius: 1.5rem !important;
}

.card-img-top{
    height: 12.5rem;
}